# MongoDB connection string
MONGO_URI=mongodb+srv://school:6677@school.gjg4zdu.mongodb.net/school?retryWrites=true&w=majority

#MONGODB_URI=mongodb+srv://shanmukashanu:667766@shanmuka.trxjpfv.mongodb.net/mydb?retryWrites=true&w=majority


# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=dq9h95l1h
CLOUDINARY_API_KEY=928958837691757
CLOUDINARY_API_SECRET=-YAMiypYC9k3poHduHHYxlHJFLQ

# App
PORT=5000
NODE_ENV=development

in teachers page add one more fee ,teachers can add student fee taht can be load in student page,teacher can add/edit/delete the fee "
paid,pending,fine,remarks"
teachers can add/edit/delete these and that can show in students page ,taechers can select teh stduent and can add these
